<p>
  <strong>Commenter:</strong>
  <%= comment.user.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<% if current_user.role_user == 'admin' %>
  <p>
    <%= link_to 'Destroy Comment', [comment.product, comment],
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
